body{
    color:azure !important;
   font-family: 'Oxygen', sans-serif !important;
}

#barraNav a{
    font-size: 30px;
}



#carrusel_altura img {
  height: 100vh;
}
#carrucel{
  font-family: 'Open Sans', sans-serif;
}

  .card{
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(0, 225, 255);
    color: black;
    padding: 3px;
    text-emphasis: 5;
  }
.card-destacados_1{
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: white;
}
.card-destacados_2{
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  color: white;
}

.card-destacados_3{
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: white;
}

.card-destacados_4{
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: white;
}
.h3{
  color: white !important;
  text-align: justify;
  font-family: 'Oxygen', sans-serif;

  text-justify: auto;
  font-size: large;
}
#quienes-somos{
  font-weight: 400;
  text-align: justify;
  bottom: auto;
}

#destacados, #quienes-somos, #contacto, #carrusel_altura {
  background-color: black !important;
}




footer{ 
  /* height: 20vh; */
  background-color:   rgba(10, 153, 172, 0.796)!important;
  font-size: 17px !important;
}

footer{
  font-family: 'Pacifico', cursive !important;
  font-size: xx-large;
}

footer h3{
  /* padding-top:20px; */
  justify-items: auto;
}

footer a{
  color:white;
}

/*
.a{
   font-family: 'Pacifico', cursive !important;
   font-size: xx-large;
}
*/



#footer{
  background-color:   rgba(10, 153, 172, 0.796)!important;
  color:white;
  
}